fieldset {
     left: 30%;
     width: 40%;
     min-height: fit-content;
     min-width: 200px;
}
        
table {
     border-spacing: 0px 10px;
     width: 100%;
}        

th {
      color: blue;
      text-align: left;
      padding: 20px;
}

td {
      color: red;
      text-align: right;
      font-size: larger;
      padding: 20px;
}        